{% extends 'base.html' %}
{% block content %}
    <main class="recipe-grid">
        <div>
        <h1>Your Shopping List</h1>
            <form method="post" action="{% url 'shopping_items_delete' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button">Delete All</button>
            </form>
            <ul>
                {% for item in shoppingitem_list %}
                <li>{{ item.food_item }}</li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock content %}
